/* AlertThing by RapidWeaver Central */

#alertThing_stacks_in_3_page6 {
	position: relative;
	display: block;
	overflow: hidden;
}



/*  LEFT
======================   */

#stacks_in_3_page6 .alignment0stacks_in_3_page6  {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin: 5px 5px 5px 0;
	padding: 2em;
	background: ;
	border-left: 10px solid #9933CC;
	
	border-left: 20px solid #9933CC;
	 
	opacity:.85;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
	 
}

#stacks_in_3_page6 .alignment0stacks_in_3_page6 .alertthing_border {
	overflow: hidden;
	display: block;
	width: 10px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -10px;
	
	width: 20px;
	left: -20px;
	 
}

#stacks_in_3_page6 .alignment0stacks_in_3_page6 .alertthing_border:before {
	content: '';
	width: 56.56854px;
	height: 100%;
	position: absolute;
	top: 0;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.3) 5px, rgba(255, 255, 255, 0.3) 10px);
	
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.3) 10px, rgba(255, 255, 255, 0.3) 20px);
	 
	-webkit-animation: translate .5s linear infinite;
	   -moz-animation: translate .5s linear infinite;
		-ms-animation: translate .5s linear infinite;
			animation: translate .5s linear infinite;
}

/*  RIGHT
======================   */

#stacks_in_3_page6 .alignment1stacks_in_3_page6  {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin: 5px 0 5px 5px;
	padding: 2em;
	background: ;
	border-right: 10px solid #9933CC;
	
	border-right: 20px solid #9933CC;
	 
	opacity:.85;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
	 
}

#stacks_in_3_page6 .alignment1stacks_in_3_page6 .alertthing_border {
	overflow: hidden;
	display: block;
	width: 10px;
	height: 100%;
	position: absolute;
	top: 0;
	right: -10px;
	
	width: 20px;
	right: -20px;
	 
}

#stacks_in_3_page6 .alignment1stacks_in_3_page6 .alertthing_border:before {
	content: '';
	width: 56.56854px;
	height: 100%;
	position: absolute;
	top: 0;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.3) 5px, rgba(255, 255, 255, 0.3) 10px);
	
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.3) 10px, rgba(255, 255, 255, 0.3) 20px);
	 
	-webkit-animation: translate .5s linear infinite;
	   -moz-animation: translate .5s linear infinite;
		-ms-animation: translate .5s linear infinite;
			animation: translate .5s linear infinite;
}


/*  CLOSE BUTTON
======================   */

.alignment0stacks_in_3_page6 .close  {
  	display: block;
  	position: absolute;
  	top: 5px;
  	right: 7.5px;
  	color: #CC00FF !important;
  	text-decoration: none;
  	font-size: 18pt;
	opacity: 1;
}

.alignment1stacks_in_3_page6 .close  {
  	display: block;
  	position: absolute;
  	top: 5px;
  	left: 7.5px;
  	color: #CC00FF !important;
  	text-decoration: none;
  	font-size: 18pt;
	opacity: 1;
}

.alignment0stacks_in_3_page6 .close:hover, .alignment1stacks_in_3_page6 .close:hover {
  	-webkit-transform: scale(1.25);
  	   -moz-transform: scale(1.25);
  		-ms-transform: scale(1.25);
  			transform: scale(1.25);
}

.alignment0stacks_in_3_page6 .close:active, .alignment1stacks_in_3_page6 .close:active {
  	-webkit-transform: scale(0.9);
  	   -moz-transform: scale(0.9);
  		-ms-transform: scale(0.9);
  			transform: scale(0.9);
}


/*  BACKGROUNDS
======================   */

.static-bg0stacks_in_3_page6 {
	background: transparent;
}

.static-bg1stacks_in_3_page6 {
	background: #333333;
}

.static-bg2stacks_in_3_page6 {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, right bottom, from(#FFFFFF), to(#FFFFFF));
	background-image: -moz-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -ms-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF));
	background-image: -webkit-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -o-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: linear-gradient(left, #FFFFFF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=1);
}

.static-bg3stacks_in_3_page6 {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
	background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}

.static-bg4stacks_in_3_page6 {
	background: url();
	background-position: center center;
	background-repeat: repeat;
}

.static-bg5stacks_in_3_page6 {
	background: url();
	background-position: Center Center;
	background-repeat: Center Center;
}


/*  ANIMATION
======================   */

@-webkit-keyframes translate {
	from {
    -webkit-transform: translateX(0);
}

to {
	-webkit-transform: translateX(-28.28427px);
}
}


@keyframes translate {
	from {
    transform: translateX(0);
}

to {
	transform: translateX(-28.28427px);
}
}


/* EDIT
======================  */






#stacks_in_17_page6 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}
/* NoteThing by RapidWeaver Central  — Inspired by Mrs RapidWeaver Central but based on a snippet by Thibaut Courouble */

/*
 * Copyright (c) 2012 Thibaut Courouble
 * http://www.webinterfacelab.com
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

#stacks_in_5_page6 .notepad, .notepad:before, .notepad:after {
	background-color: white;
	background-image: -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#e8e8e8 1px, transparent 1px);
	background-image: -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#e8e8e8 1px, transparent 1px);
	background-image: -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#e8e8e8 1px, transparent 1px);
	background-image: linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#e8e8e8 1px, transparent 1px);
	background-size: 1px 1px, 1px 1px, 23px 23px;
	background-repeat: repeat-y, repeat-y, repeat;
	background-position: 22px 0, 24px 0, 0 50px;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		 -moz-border-radius-topleft: 3px;
	     -moz-border-radius-topright:3px;
				  border-top-radius: 3px;
}

#stacks_in_5_page6 .notepad {
	position: relative;
	margin: 15px auto;
	padding: 0 23px 14px 35px;
	width: 321px;
	line-height: 23px;
	font-size: 11px;
	color: #666;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		 -moz-border-radius-topleft: 3px;
	     -moz-border-radius-topright:3px;
				  border-top-radius: 3px;
}

#stacks_in_5_page6 .notepad p {
	margin-bottom: 23px;
}

#stacks_in_5_page6 .notepad :last-child {
	margin-bottom: 0;
}

#stacks_in_5_page6 .notepad:before, .notepad:after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 100%;
	left: 3px;
	right: 3px;
	margin-top: -2px;
	height: 4px;
	background-size: 1px 1px, 1px 1px, 0 0;
}

#stacks_in_5_page6 .notepad:before {
	z-index: -2;
	left: 6px;
	right: 6px;
	height: 6px;
	background-color: #eee;
}

/* Heading */

#stacks_in_5_page6 .notepad-heading {
	position: relative;
	margin: 0 -23px 14px -35px;
	height: auto;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		 -moz-border-radius-topleft: 3px;
	     -moz-border-radius-topright:3px;
				  border-top-radius: 3px;
}

#stacks_in_5_page6 .notepad-heading  {
	line-height: auto;
	padding: 6px;
	font-size: 23px;
	color: #BB0000;		
	text-align: center;
}

#stacks_in_5_page6 .notepad-heading:before, .notepad-heading:after {
	content: '';
	position: absolute;
	bottom: 2px;
	left: 1px;
	right: 1px;
	height: 0;
	border-top:  1px dashed;
	border-color: #000000;
}

#stacks_in_5_page6 .notepad-heading:after {
	bottom: 3px;
	border-color: #071c2c;
	border-color: rgba(0, 0, 0, 0.5);
}

/* Background */

.static-bg0stacks_in_5_page6 {
	background: transparent;
}

.static-bg1stacks_in_5_page6 {
	background: #333333;
}

.static-bg2stacks_in_5_page6 {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, right bottom, from(#FFFFFF), to(#FFFFFF));
	background-image: -moz-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -ms-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF));
	background-image: -webkit-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: -o-linear-gradient(left, #FFFFFF, #FFFFFF);
	background-image: linear-gradient(left, #FFFFFF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=1);
}

.static-bg3stacks_in_5_page6 {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
	background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}

.static-bg4stacks_in_5_page6 {
	background: url();
	background-position: center center;
	background-repeat: repeat;
}

.static-bg5stacks_in_5_page6 {
	background: url();
	background-position: Center Center;
	background-repeat: Center Center;
}


#stacks_out_22_page6 {
	margin-left:0;
}

#stacks_in_24_page6 {
	padding:  3px;
}
/* LetterboxThing by RapidWeaver Central  */

#LetterboxThingstacks_in_7_page6 {
	position: relative;
	display: block;
	overflow: hidden;
	background: #CBCDCC;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	   -moz-border-radius-bottomright: 0px;
	   -moz-border-radius-bottomleft: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	 
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

#stacks_in_7_page6 .contentThing {
	padding-top: 48px;
}


#stacks_in_7_page6 .innerThing {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
}

#stacks_in_7_page6 .barThing {
	position: relative;
	width: 100%;
	height: 10px;
	background: #993399;
}


#stacks_in_7_page6 .boxThing {
	display: block;
	position: absolute;
	top: 10px;
	height: 48px;
	 
	font-size: 13px;
	color: #464646;
	text-shadow: 0 1px 0px #FFFFFF;
	text-shadow:none;
	text-transform: none;;
	text-align:left;;
	letter-spacing:0px;;
	font-weight:normal;;
	line-height: 48px;
	white-space:nowrap;
}

#stacks_in_7_page6 .flipThing {
	background: #F6F6F6;
	padding: 0 10px;
	white-space:nowrap;
	 
}



#stacks_in_7_page6 .boxThing .flipThing {
	display: block;
	position: absolute;
	top: 0px;
	-webkit-transform-origin: 50% 0%;
	   -moz-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
	-webkit-transform: perspective(250px) rotateX(-90deg);
	   -moz-transform: perspective(250px) rotateX(-90deg);
		-ms-transform: perspective(250px) rotateX(-90deg);
			transform: perspective(250px) rotateX(-90deg);
	-webkit-transition: 0.2s linear 0.2s;
	   -moz-transition: 0.2s linear 0.2s;
		-ms-transition: 0.2s linear 0.2s;
			transition: 0.2s linear 0.2s;
	 
}

#LetterboxThingstacks_in_7_page6:hover .flipThing {
	-webkit-transform: perspective(350px) rotateX(0deg);
	   -moz-transform: perspective(350px) rotateX(0deg);
		-ms-transform: perspective(350px) rotateX(0deg);
			transform: perspective(350px) rotateX(0deg);
	-webkit-transition: 0.2s linear 0s;
	   -moz-transition: 0.2s linear 0s;
		-ms-transition: 0.2s linear 0s;
			transition: 0.2s linear 0s;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}





/* LetterboxThing by RapidWeaver Central  */

#LetterboxThingstacks_in_8_page6 {
	position: relative;
	display: block;
	overflow: hidden;
	background: #DFDFDF;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	   -moz-border-radius-bottomright: 0px;
	   -moz-border-radius-bottomleft: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	 
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

#stacks_in_8_page6 .contentThing {
	padding-top: 48px;
}


#stacks_in_8_page6 .innerThing {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
}

#stacks_in_8_page6 .barThing {
	position: relative;
	width: 100%;
	height: 10px;
	background: #9933CC;
}


#stacks_in_8_page6 .boxThing {
	display: block;
	position: absolute;
	top: 10px;
	height: 48px;
	 
	font-size: 13px;
	color: #464646;
	text-shadow: 0 1px 0px #FFFFFF;
	text-shadow:none;
	text-transform: none;;
	text-align:left;;
	letter-spacing:0px;;
	font-weight:normal;;
	line-height: 48px;
	white-space:nowrap;
}

#stacks_in_8_page6 .flipThing {
	background: #F6F6F6;
	padding: 0 10px;
	white-space:nowrap;
	 
}



#stacks_in_8_page6 .boxThing .flipThing {
	display: block;
	position: absolute;
	top: 0px;
	-webkit-transform-origin: 50% 0%;
	   -moz-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
	-webkit-transform: perspective(250px) rotateX(-90deg);
	   -moz-transform: perspective(250px) rotateX(-90deg);
		-ms-transform: perspective(250px) rotateX(-90deg);
			transform: perspective(250px) rotateX(-90deg);
	-webkit-transition: 0.2s linear 0.2s;
	   -moz-transition: 0.2s linear 0.2s;
		-ms-transition: 0.2s linear 0.2s;
			transition: 0.2s linear 0.2s;
	 
}

#LetterboxThingstacks_in_8_page6:hover .flipThing {
	-webkit-transform: perspective(350px) rotateX(0deg);
	   -moz-transform: perspective(350px) rotateX(0deg);
		-ms-transform: perspective(350px) rotateX(0deg);
			transform: perspective(350px) rotateX(0deg);
	-webkit-transition: 0.2s linear 0s;
	   -moz-transition: 0.2s linear 0s;
		-ms-transition: 0.2s linear 0s;
			transition: 0.2s linear 0s;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}






#stacks_in_31_page6 {
	margin:  6px;
	padding:  3px;
}
/* LetterboxThing by RapidWeaver Central  */

#LetterboxThingstacks_in_9_page6 {
	position: relative;
	display: block;
	overflow: hidden;
	background: #DFDFDF;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	   -moz-border-radius-bottomright: 0px;
	   -moz-border-radius-bottomleft: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	 
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

#stacks_in_9_page6 .contentThing {
	padding-top: 48px;
}


#stacks_in_9_page6 .innerThing {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
}

#stacks_in_9_page6 .barThing {
	position: relative;
	width: 100%;
	height: 10px;
	background: #9933FF;
}


#stacks_in_9_page6 .boxThing {
	display: block;
	position: absolute;
	top: 10px;
	height: 48px;
	 
	font-size: 13px;
	color: #464646;
	text-shadow: 0 1px 0px #FFFFFF;
	text-shadow:none;
	text-transform: none;;
	text-align:left;;
	letter-spacing:0px;;
	font-weight:normal;;
	line-height: 48px;
	white-space:nowrap;
}

#stacks_in_9_page6 .flipThing {
	background: #F6F6F6;
	padding: 0 10px;
	white-space:nowrap;
	 
}



#stacks_in_9_page6 .boxThing .flipThing {
	display: block;
	position: absolute;
	top: 0px;
	-webkit-transform-origin: 50% 0%;
	   -moz-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
	-webkit-transform: perspective(250px) rotateX(-90deg);
	   -moz-transform: perspective(250px) rotateX(-90deg);
		-ms-transform: perspective(250px) rotateX(-90deg);
			transform: perspective(250px) rotateX(-90deg);
	-webkit-transition: 0.2s linear 0.2s;
	   -moz-transition: 0.2s linear 0.2s;
		-ms-transition: 0.2s linear 0.2s;
			transition: 0.2s linear 0.2s;
	 
}

#LetterboxThingstacks_in_9_page6:hover .flipThing {
	-webkit-transform: perspective(350px) rotateX(0deg);
	   -moz-transform: perspective(350px) rotateX(0deg);
		-ms-transform: perspective(350px) rotateX(0deg);
			transform: perspective(350px) rotateX(0deg);
	-webkit-transition: 0.2s linear 0s;
	   -moz-transition: 0.2s linear 0s;
		-ms-transition: 0.2s linear 0s;
			transition: 0.2s linear 0s;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}






#stacks_in_38_page6 {
	margin:  6px;
	padding:  3px;
}
