/* DottyThing by RapidWeaver Central  */


#stacks_in_11 .dottyThing {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #DFDFDF;
	display: block;
	position: relative;
	margin: 0 auto;
}

#stacks_in_11 .dottyThing:before, #stacks_in_11 .dottyThing:after {
	content: '';
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	background: inherit;
	border-radius: 50%;
}

#stacks_in_11 .dottyThing:after {
	left: 30px;
}

#stacks_in_11 .dottyThing:before {
	right: 30px;
}

#stacks_in_11 .viewport {
	 
}

#stacks_in_11 .viewport:after {
	 
}

#stacks_in_11 .viewport:before {
	 
}


@-webkit-keyframes anim {
	from {
    -webkit-transform: rotate(0deg);
	}
	
80% {
	-webkit-transform: rotate(360deg);
	}

to {
	-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes anim {
	from {
    -moz-transform: rotate(0deg);
	}
	
80% {
	-moz-transform: rotate(360deg);
	}

to {
	-moz-transform: rotate(360deg);
	}
}

@-ms-keyframes anim {
	from {
    -ms-transform: rotate(0deg);
	}
	
80% {
	-ms-transform: rotate(360deg);
	}

to {
	-ms-transform: rotate(360deg);
	}
}



@keyframes anim {
	from {
    transform: rotate(0deg);
	}
	
80% {
	transform: rotate(360deg);
	}

to {
	transform: rotate(360deg);
	}
}




#stacks_in_12 {
	border: solid rgba(255, 255, 255, 1.00);
	border-width:  10px;
	margin:  20px;
}

#stacks_in_2 {
	padding:  6px;
}
#stacks_in_6>.s3_row {
	margin: 0 -10px;
}

#stacks_in_6>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_6>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_6>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_6>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_6>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





