/* DropCapThing by RapidWeaver Central  */

#dropcapThingstacks_in_2_page2 {
}

#stacks_in_2_page2 .dropcapthing:first-of-type::first-letter {
	height: 0.7em;
	margin: 0px 1px 1px 0;
	padding: 0 0.1em 0 0;
	font-size: 80px;
	line-height: 80px;
		
	float: left;
	font-weight:normal;;
			
}

#stacks_in_16_page2>.s3_row {
	margin: 0 -10px;
}

#stacks_in_16_page2>.s3_row>.s3_column_left {
	width: 68.00%;
}

#stacks_in_16_page2>.s3_row>.s3_column_right {
	width: 32.000000%;
}




#stacks_in_16_page2>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_16_page2>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_16_page2>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_25_page2>.s3_row {
	margin: 0 -10px;
}

#stacks_in_25_page2>.s3_row>.s3_column_left {
	width: 29.27%;
}

#stacks_in_25_page2>.s3_row>.s3_column_right {
	width: 70.729996%;
}




#stacks_in_25_page2>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_25_page2>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_25_page2>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





/* FlippingThing by RapidWeaver Central */

#stacks_in_30_page2 .flippingThing {
	margin: 0 auto;
	-webkit-perspective: 1000;
		-moz-perspective: 1000;
			perspective: 1000;
}


#stacks_in_30_page2 .flipperyThing {
	position: relative;
	-webkit-transition: 1s;
	   -moz-transition: 1s;
			transition: 1s;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
}

#stacks_in_30_page2 .front, #stacks_in_30_page2 .back {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	   		backface-visibility: hidden;
}

#stacks_in_30_page2 .front {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	z-index: 2;
}

#stacks_in_30_page2 .flippingThing, #stacks_in_30_page2 .front, #stacks_in_30_page2 .back {
	width: 200px;
	height: 200px;
}

#stacks_in_30_page2 .back {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
			transform: rotateY(180deg);
}


#stacks_in_30_page2 .inner  {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}


#stacks_in_30_page2 .reverse.flippingThing {
	position: relative;
	margin-bottom: 2px;

}

#stacks_in_30_page2 .reverse .back {
	margin-bottom: 2px;
	margin-top: -2px;
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
			transform: rotateX(180deg);
}

#stacks_in_30_page2 .reverse.flippingThing .flipperyThing {

	-webkit-transform-origin: 100% 100px;
	   -moz-transform-origin: 100% 100px;
			transform-origin: 100% 100px;
}

#stacks_in_30_page2 .reverse.flippingThing:hover .flipperyThing {
	-webkit-transform: rotateX(-180deg);
	   -moz-transform: rotateX(-180deg);
			transform: rotateX(-180deg);
}








#stacks_in_35_page2 {
	margin:  20px;
}
#stacks_in_39_page2_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_39_page2 a:link, #stacks_in_39_page2 a:visited {
	 display:block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_39_page2 a:hover, #stacks_in_39_page2 a:active {
	color:#FFFFFF;
}







#stacks_in_39_page2 a:link, #stacks_in_39_page2 a:visited {
	background-color:#FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#999999));
	border:1px solid #999999;
	padding:3px 20px;
	border-radius:30px;
	color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin:5px;
	font-weight:bold;
}
#stacks_in_39_page2 a:hover {
	background-color:#FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#848484));
	box-shadow:rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#stacks_in_39_page2 a:active {
	background-color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.75) 0px 0px 4px inset;
}



