/* AlertThing by RapidWeaver Central */

#alertThing_stacks_in_3 {
	position: relative;
	display: block;
	overflow: hidden;
}



/*  LEFT
======================   */

#stacks_in_3 .alignment0stacks_in_3  {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin: 5px 5px 5px 0;
	padding: 2em;
	background: ;
	border-left: 10px solid #9933CC;
	
	border-left: 20px solid #9933CC;
	 
	opacity:.85;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
	 
}

#stacks_in_3 .alignment0stacks_in_3 .alertthing_border {
	overflow: hidden;
	display: block;
	width: 10px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -10px;
	
	width: 20px;
	left: -20px;
	 
}

#stacks_in_3 .alignment0stacks_in_3 .alertthing_border:before {
	content: '';
	width: 56.56854px;
	height: 100%;
	position: absolute;
	top: 0;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.3) 5px, rgba(255, 255, 255, 0.3) 10px);
	
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.3) 10px, rgba(255, 255, 255, 0.3) 20px);
	 
	-webkit-animation: translate .5s linear infinite;
	   -moz-animation: translate .5s linear infinite;
		-ms-animation: translate .5s linear infinite;
			animation: translate .5s linear infinite;
}

/*  RIGHT
======================   */

#stacks_in_3 .alignment1stacks_in_3  {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin: 5px 0 5px 5px;
	padding: 2em;
	background: ;
	border-right: 10px solid #9933CC;
	
	border-right: 20px solid #9933CC;
	 
	opacity:.85;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
	 
}

#stacks_in_3 .alignment1stacks_in_3 .alertthing_border {
	overflow: hidden;
	display: block;
	width: 10px;
	height: 100%;
	position: absolute;
	top: 0;
	right: -10px;
	
	width: 20px;
	right: -20px;
	 
}

#stacks_in_3 .alignment1stacks_in_3 .alertthing_border:before {
	content: '';
	width: 56.56854px;
	height: 100%;
	position: absolute;
	top: 0;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.3) 5px, rgba(255, 255, 255, 0.3) 10px);
	
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.3) 10px, rgba(255, 255, 255, 0.3) 20px);
	 
	-webkit-animation: translate .5s linear infinite;
	   -moz-animation: translate .5s linear infinite;
		-ms-animation: translate .5s linear infinite;
			animation: translate .5s linear infinite;
}


/*  CLOSE BUTTON
======================   */

.alignment0stacks_in_3 .close  {
  	display: block;
  	position: absolute;
  	top: 5px;
  	right: 7.5px;
  	color: #CC00FF !important;
  	text-decoration: none;
  	font-size: 18pt;
	opacity: 1;
}

.alignment1stacks_in_3 .close  {
  	display: block;
  	position: absolute;
  	top: 5px;
  	left: 7.5px;
  	color: #CC00FF !important;
  	text-decoration: none;
  	font-size: 18pt;
	opacity: 1;
}

.alignment0stacks_in_3 .close:hover, .alignment1stacks_in_3 .close:hover {
  	-webkit-transform: scale(1.25);
  	   -moz-transform: scale(1.25);
  		-ms-transform: scale(1.25);
  			transform: scale(1.25);
}

.alignment0stacks_in_3 .close:active, .alignment1stacks_in_3 .close:active {
  	-webkit-transform: scale(0.9);
  	   -moz-transform: scale(0.9);
  		-ms-transform: scale(0.9);
  			transform: scale(0.9);
}


/*  BACKGROUNDS
======================   */

.static-bg0stacks_in_3 {
	background: transparent;
}

.static-bg1stacks_in_3 {
	background: #333333;
}

.static-bg2stacks_in_3 {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, right bottom, from(#F0E2FF), to(#FFFFFF));
	background-image: -moz-linear-gradient(left, #F0E2FF, #FFFFFF);
	background-image: -ms-linear-gradient(left, #F0E2FF, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #F0E2FF), color-stop(100%, #FFFFFF));
	background-image: -webkit-linear-gradient(left, #F0E2FF, #FFFFFF);
	background-image: -o-linear-gradient(left, #F0E2FF, #FFFFFF);
	background-image: linear-gradient(left, #F0E2FF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0E2FF', endColorstr='#FFFFFF', GradientType=1);
}

.static-bg3stacks_in_3 {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
	background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
}

.static-bg4stacks_in_3 {
	background: url();
	background-position: center center;
	background-repeat: repeat;
}

.static-bg5stacks_in_3 {
	background: url();
	background-position: Center Center;
	background-repeat: Center Center;
}


/*  ANIMATION
======================   */

@-webkit-keyframes translate {
	from {
    -webkit-transform: translateX(0);
}

to {
	-webkit-transform: translateX(-28.28427px);
}
}


@keyframes translate {
	from {
    transform: translateX(0);
}

to {
	transform: translateX(-28.28427px);
}
}


/* EDIT
======================  */






#stacks_in_17 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}

#stacks_in_22 {
	padding:  1px;
}

#stacks_out_22 {
	margin-left:0;
}

#stacks_in_24 {
	padding:  3px;
}

#stacks_in_6 {
	margin:  20px;
}
/* LetterboxThing by RapidWeaver Central  */

#LetterboxThingstacks_in_7 {
	position: relative;
	display: block;
	overflow: hidden;
	background: #CBCDCC;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	   -moz-border-radius-bottomright: 0px;
	   -moz-border-radius-bottomleft: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	 
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

#stacks_in_7 .contentThing {
	padding-top: 48px;
}


#stacks_in_7 .innerThing {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
}

#stacks_in_7 .barThing {
	position: relative;
	width: 100%;
	height: 10px;
	background: #993399;
}


#stacks_in_7 .boxThing {
	display: block;
	position: absolute;
	top: 10px;
	height: 48px;
	
	width: 100%;
	 
	font-size: 13px;
	color: #464646;
	text-shadow: 0 1px 0px #FFFFFF;
	text-shadow:none;
	text-transform: none;;
	text-align:center;;
	letter-spacing:0px;;
	font-weight:bold;;
	line-height: 48px;
	white-space:nowrap;
}

#stacks_in_7 .flipThing {
	background: #F6F6F6;
	padding: 0 10px;
	white-space:nowrap;
	
	width: 100%;
	 
}



#stacks_in_7 .boxThing .flipThing {
	display: block;
	position: absolute;
	top: 0px;
	-webkit-transform-origin: 50% 0%;
	   -moz-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
	-webkit-transform: perspective(250px) rotateX(-90deg);
	   -moz-transform: perspective(250px) rotateX(-90deg);
		-ms-transform: perspective(250px) rotateX(-90deg);
			transform: perspective(250px) rotateX(-90deg);
	-webkit-transition: 0.2s linear 0.2s;
	   -moz-transition: 0.2s linear 0.2s;
		-ms-transition: 0.2s linear 0.2s;
			transition: 0.2s linear 0.2s;
	
	-webkit-transition: none;
	   -moz-transition: none;
		-ms-transition: none;
			transition: none;
	-webkit-transform: none;
	   -moz-transform: none;
		-ms-transform: none;
			transform: none;
	 
}

#LetterboxThingstacks_in_7:hover .flipThing {
	-webkit-transform: perspective(350px) rotateX(0deg);
	   -moz-transform: perspective(350px) rotateX(0deg);
		-ms-transform: perspective(350px) rotateX(0deg);
			transform: perspective(350px) rotateX(0deg);
	-webkit-transition: 0.2s linear 0s;
	   -moz-transition: 0.2s linear 0s;
		-ms-transition: 0.2s linear 0s;
			transition: 0.2s linear 0s;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}





/* LetterboxThing by RapidWeaver Central  */

#LetterboxThingstacks_in_8 {
	position: relative;
	display: block;
	overflow: hidden;
	background: #DFDFDF;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	   -moz-border-radius-bottomright: 0px;
	   -moz-border-radius-bottomleft: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	 
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

#stacks_in_8 .contentThing {
	padding-top: 48px;
}


#stacks_in_8 .innerThing {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
}

#stacks_in_8 .barThing {
	position: relative;
	width: 100%;
	height: 10px;
	background: #9933CC;
}


#stacks_in_8 .boxThing {
	display: block;
	position: absolute;
	top: 10px;
	height: 48px;
	
	width: 100%;
	 
	font-size: 13px;
	color: #464646;
	text-shadow: 0 1px 0px #FFFFFF;
	text-shadow:none;
	text-transform: none;;
	text-align:center;;
	letter-spacing:0px;;
	font-weight:bold;;
	line-height: 48px;
	white-space:nowrap;
}

#stacks_in_8 .flipThing {
	background: #F6F6F6;
	padding: 0 10px;
	white-space:nowrap;
	
	width: 100%;
	 
}



#stacks_in_8 .boxThing .flipThing {
	display: block;
	position: absolute;
	top: 0px;
	-webkit-transform-origin: 50% 0%;
	   -moz-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
	-webkit-transform: perspective(250px) rotateX(-90deg);
	   -moz-transform: perspective(250px) rotateX(-90deg);
		-ms-transform: perspective(250px) rotateX(-90deg);
			transform: perspective(250px) rotateX(-90deg);
	-webkit-transition: 0.2s linear 0.2s;
	   -moz-transition: 0.2s linear 0.2s;
		-ms-transition: 0.2s linear 0.2s;
			transition: 0.2s linear 0.2s;
	
	-webkit-transition: none;
	   -moz-transition: none;
		-ms-transition: none;
			transition: none;
	-webkit-transform: none;
	   -moz-transform: none;
		-ms-transform: none;
			transform: none;
	 
}

#LetterboxThingstacks_in_8:hover .flipThing {
	-webkit-transform: perspective(350px) rotateX(0deg);
	   -moz-transform: perspective(350px) rotateX(0deg);
		-ms-transform: perspective(350px) rotateX(0deg);
			transform: perspective(350px) rotateX(0deg);
	-webkit-transition: 0.2s linear 0s;
	   -moz-transition: 0.2s linear 0s;
		-ms-transition: 0.2s linear 0s;
			transition: 0.2s linear 0s;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}






#stacks_in_31 {
	margin:  6px;
	padding:  3px;
}
/* LetterboxThing by RapidWeaver Central  */

#LetterboxThingstacks_in_9 {
	position: relative;
	display: block;
	overflow: hidden;
	background: #DFDFDF;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	   -moz-border-radius-bottomright: 0px;
	   -moz-border-radius-bottomleft: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
	 
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

#stacks_in_9 .contentThing {
	padding-top: 48px;
}


#stacks_in_9 .innerThing {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
}

#stacks_in_9 .barThing {
	position: relative;
	width: 100%;
	height: 10px;
	background: #9933FF;
}


#stacks_in_9 .boxThing {
	display: block;
	position: absolute;
	top: 10px;
	height: 48px;
	
	width: 100%;
	 
	font-size: 13px;
	color: #464646;
	text-shadow: 0 1px 0px #FFFFFF;
	text-shadow:none;
	text-transform: none;;
	text-align:center;;
	letter-spacing:0px;;
	font-weight:bold;;
	line-height: 48px;
	white-space:nowrap;
}

#stacks_in_9 .flipThing {
	background: #F6F6F6;
	padding: 0 10px;
	white-space:nowrap;
	
	width: 100%;
	 
}



#stacks_in_9 .boxThing .flipThing {
	display: block;
	position: absolute;
	top: 0px;
	-webkit-transform-origin: 50% 0%;
	   -moz-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
	-webkit-transform: perspective(250px) rotateX(-90deg);
	   -moz-transform: perspective(250px) rotateX(-90deg);
		-ms-transform: perspective(250px) rotateX(-90deg);
			transform: perspective(250px) rotateX(-90deg);
	-webkit-transition: 0.2s linear 0.2s;
	   -moz-transition: 0.2s linear 0.2s;
		-ms-transition: 0.2s linear 0.2s;
			transition: 0.2s linear 0.2s;
	
	-webkit-transition: none;
	   -moz-transition: none;
		-ms-transition: none;
			transition: none;
	-webkit-transform: none;
	   -moz-transform: none;
		-ms-transform: none;
			transform: none;
	 
}

#LetterboxThingstacks_in_9:hover .flipThing {
	-webkit-transform: perspective(350px) rotateX(0deg);
	   -moz-transform: perspective(350px) rotateX(0deg);
		-ms-transform: perspective(350px) rotateX(0deg);
			transform: perspective(350px) rotateX(0deg);
	-webkit-transition: 0.2s linear 0s;
	   -moz-transition: 0.2s linear 0s;
		-ms-transition: 0.2s linear 0s;
			transition: 0.2s linear 0s;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}






#stacks_in_38 {
	margin:  6px;
	padding:  3px;
}
