
#stacks_in_17 {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}

#stacks_in_22 {
	padding:  1px;
}

#stacks_out_22 {
	margin-left:0;
}

#stacks_in_24 {
	padding:  3px;
}

#stacks_in_43 {
	margin:  20px;
	padding:  20px;
}

#stacks_in_28 {
	margin:  8px;
}

#stacks_in_31 {
	margin:  6px;
	padding:  3px;
}

#stacks_in_38 {
	margin:  6px;
	padding:  3px;
}
