/* DropCapThing by RapidWeaver Central  */

#dropcapThingstacks_in_78_page0 {
}

#stacks_in_78_page0 .dropcapthing:first-of-type::first-letter {
	height: 0.7em;
	margin: 0px 1px 1px 0;
	padding: 0 0.1em 0 0;
	font-size: 80px;
	line-height: 80px;
		
	float: left;
	font-weight:normal;;
			
}

/*  */
#card-stacks_in_82_page0 .card-inner:hover::before {
  opacity: 0.56; }

#card-stacks_in_82_page0 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_82_page0 .card-inner.shift:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_82_page0 {
  overflow: visible !important; }

#card-stacks_in_82_page0 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_82_page0.card-left {
    margin-right: auto; }
  #card-stacks_in_82_page0.card-right {
    margin-left: auto; }
  #card-stacks_in_82_page0.card-center {
    margin: 0 auto; }
  #card-stacks_in_82_page0 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_82_page0 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_82_page0 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(https://img.vim-cn.com/98/c7eab719f1410b3e3b4b1874bf03c981b1cb53.png);
    /*  */
    background-color: rgba(255, 255, 255, 1.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_82_page0 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #FF99FF, #3F5EFB);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.11;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_82_page0 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_82_page0 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_82_page0 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_82_page0 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_82_page0 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_82_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_82_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_82_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_82_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_82_page0 .card-inner {
    height: 250px; }
    #card-stacks_in_82_page0 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
#stacks_in_110_page0 {
	text-align: center;
}

#stacks_in_110_page0 picture,
#stacks_in_110_page0 source,
#stacks_in_110_page0 image {
	display: block;
	max-width: 100%;
	height: auto;
}
#stacks_in_111_page0 {
	text-align: center;
}

#stacks_in_111_page0 picture,
#stacks_in_111_page0 source,
#stacks_in_111_page0 image {
	display: block;
	max-width: 100%;
	height: auto;
}
#stacks_in_112_page0 {
	text-align: center;
}

#stacks_in_112_page0 picture,
#stacks_in_112_page0 source,
#stacks_in_112_page0 image {
	display: block;
	max-width: 100%;
	height: auto;
}
#stacks_in_113_page0 {
	text-align: center;
}

#stacks_in_113_page0 picture,
#stacks_in_113_page0 source,
#stacks_in_113_page0 image {
	display: block;
	max-width: 100%;
	height: auto;
}
